{% extends 'intra/base.html' %}

{% block title %}{{ data.cn }} - Profile{% endblock %}

{% block extra_css %}
<style>
  .profile_pic {
  	border-radius: 9%;
  	max-width: 200px;
  }

  #table_profile {
  	margin: auto;
  	margin-top: 10%;
  }

  .display {
  	min-width: 300px;
  	margin: 10% 1%;
  }
</style>
{% endblock %}
{% block content %}
  {% if data %}
  <table id="table_profile">
    <td class="display">
      <img class="profile_pic" src="http://cdn.42.fr/userprofil/profilview/{{ data.uid }}.jpg"
	   onerror="this.src='https://intra.42.fr/static7029/img/nopicture-profilview.png';"/>
    </td>
    <td class="display">
      <p><b>{{ data.cn }}</b></p>
      <p>Login: {{ data.uid }}</p>
      {% if data.location == 'Hors-Ligne' %}
        <p>Place: <span style="color: red">{{ data.location }}</span></p>
      {% else %}
	<p>Place: <span style="color: green">{{ data.location }}</span></p>
      {% endif %}
      <p>Uid / Gid: {{ data.uidNumber }} / {{ data.gidNumber }}</p>
      <p>Phone Number: {{ data.mobile_phone }}</p>
      <p>Mail : {{ data.uid }}@student.42.fr<r/p>
    </td>
  </table>
  {% else %}
    <div class="display">
      <p>This user does not exist. :(</p>
    </div>
  {% endif %}
{% endblock %}


{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/users">Users</a></li>
    <li class="active">{{ data.uid }}</li>
  </ol>
{% endblock %}