h1 {
	text-align: center;
	font-variant: small-caps;
}

h2{
	text-align: center;
}
.tmp {
	color: red;
	font-size: 0.8em;
	font-style: oblique;
	display: inline;
}

.variable {
	color: #696969;
	font-size: 1em;
	font-style: bold;
	display: inline;
}

/*
**
** Various Paragraphs Styles
**
*/

#time {
	color: #979797;
	text-align: center;
	font-size: 0.9em;
}

#overall {
	position: relative;
	margin: 1.5%;
	width: 90%;
	display: inline-block;
}

#info {
	position: absolute;
	margin: 0;
	right: 0;
	display: inline-block;
	height: 100%;
	width: 69%;
}

#students {
	position: absolute;
	display: inline-block;
	padding: 2%;
	text-align: center;
	overflow: hidden;
}

#students.button {
	left: 114px;
}

.navbar {
	position: relative;
	height: 13%;
	width: 72px;
	margin: auto;
	padding: 2px 2em;
	top: 0;
	border: 3px solid white;
	border-collapse: collapse;
	background-color: #9DCADE;
}

.navbar a:link {
	color: #fff;
	font-variant: small-caps;
	text-align: right;
	font-size: 1.2em;
}


/*
**
** Display of tabs
**
*/

#grp {
	display: none;
	padding: 3%;
}
#grp:target {display: block;}
input[type=text] {
	width: 420px;
	background-color: #FFF;
	border-color: #6DCFF6;
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

#files {display: none;
	padding: 3%;}
#files:target {display: block;}

#learn {display: none;
	padding: 3%;}
#learn:target {display: block;}
