.forum_category {
    font-size: large;
}

.thread {
    font-size: large;
}

.message_container {
    border: solid black 1px;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

.message {
    font-size: medium;
    text-align: justify;
}

.comment_container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.comment {
    font-size: small;
    text-align: justify;
}

.add_comment_container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}

.author {
    font-size: x-small;
    font-style: italic;
}

.ticket {
    font-size: large;
}

.reply_container, .add_thread_container {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.justifed {
    text-align: justify;
}

.xs-spacing {
    margin-top: 20px;
}

.s-spacing {
    margin-top: 60px;
}

.spacing {
    margin-top: 100px;
}

.center-large {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}