{% extends "intra/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Modules{% endblock %}

{% block extra_css %}
  <link href="{% static 'intra/css/modules.css' %}" rel="stylesheet" media="all">
{% endblock %}

{% block content %}
	<h1> Module: <span class="tmp">Nom du module</span></h1>
	<p id="time">
		From <span class="tmp"> Date_Debut </span> to <span class="tmp"> Date_FIN </span>.
		<br />
		You have <span class="tmp">{.{variable|timeuntil:othervariable}}</span> days left.
		<!-- Django offre des filtres divers et varies, regarde
			http://www.webforefront.com/django/usebuiltindjangofilters.html 
			avec un ctrl+f sur timeuntil :)
			-->
	</p>
	<br />
	<table id="overall">
	<tr>
		<td id="students">
			<img src="https://cdn1.iconfinder.com/data/icons/MetroStation-PNG/128/MB__android.png"><br />
			<span class="tmp">nb_registered</span> students are registered.<br /><br />
			{% if not module.registered %}
			<button class="button" type="submit" class="btn btn-default">Register</button>
			{% endif %}
		</td>
		<td id="info">
			<table>
			<tr>
				<td class="navbar"><a href="#grp">Group</a></td>
				<td class="navbar"><a href="#files">Files</a></td>
			</tr>
			<tr class="content">
				<td id=grp> PLOPI</td>
				<td id=files> PLOPA</td>
			</tr>
			</table>
		</td>
	</tr>
	</table>
	
{% endblock %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
    <li class="active">{% trans "Modules" %}</li>
  </ol>
{% endblock %}
