{% extends "intra/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{module.name}}{% endblock %}

{% block extra_css %}
  <link href="{% static 'intra/css/modules.css' %}" rel="stylesheet" media="all">
{% endblock %}

{% block content %}
	<h1> Modules </h1>
	<br />
		<div id="registered">
			<img src="https://cdn1.iconfinder.com/data/icons/brain-games/128/Brain-Games-grey.png"><br /><br />
			<p>Those are not the modules you're looking for.</p><br />
		</div>
	{% for module in modules %}
	<p class=
    		  {% if forloop.counter0|divisibleby:2 %}"categories1"
			  {% else %}"categories2"
			  {% endif %}>
		<a class="cat" href="/modules/{{module.uid}}">{{ module.name }}</a>
		Starts on {{ module.begin }} and ends on {{ module.end }}.
		{% if not module.registered %}<button class="buttonreg"> Register </button> {% endif %}
	</p>
	{% endfor %}
{% endblock %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
    <li class="active">{% trans "Modules" %}</li>
  </ol>
{% endblock %}
