{% extends "intra/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Modules{% endblock %}

{% block extra_css %}
  <link href="{% static 'intra/css/modules.css' %}" rel="stylesheet" media="all">
{% endblock %}

{% block content %}
	<h1> Module: <span class="tmp">Nom du module</span></h1>
	<p id="time">
		From <span class="tmp"> Date_Debut </span> to <span class="tmp"> Date_FIN </span>.
		<br />
		You have <span class="tmp">{.{variable|timeuntil:othervariable}}</span> days left.
		<!-- Django offre des filtres divers et varies, regarde
			http://www.webforefront.com/django/usebuiltindjangofilters.html 
			avec un ctrl+f sur timeuntil :)
			-->
	</p>
{% endblock %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
    <li class="active">{% trans "Modules" %}</li>
  </ol>
{% endblock %}
