{% extends "intra/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load dict_lookup %}

{% block content %}
{% if form.non_field_errors %}
  <div class="alert alert-danger center">
  {% for err in form.non_field_errors %}
    <p class="justified">{{ err }}</p>
  {% endfor %}
  </div>
{% endif %}
<form action="{% url 'auth:login' %}" method="post">{% csrf_token %}
  {% for field in form %}
    {% if field.name in form.errors %}
      <div class="alert alert-danger center">
        {{ form.errors|lookup:field.name }}
      </div>
    {% endif %}
    <div class="center input-group input-group-lg">
      {% if field.name == form.username.name %}
        <span class="input-group-addon glyphicon glyphicon-user"></span>
      {% endif %}
      {% if field.name == form.password.name %}
        <span class="input-group-addon glyphicon glyphicon-lock"></span>
      {% endif %}
      {% render_field field|add_class:"form-control" tabindex=forloop.counter %}
    </div>
  <br>
  {% endfor %}
  <button type="submit" class="btn btn-default" tabindex="{{ form.fields|length|add:1 }}">
    {% trans "Log in" %}
  </button>
</form>
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
  <li class="active">{% trans "Log in" %}</li>
</ol>
{% endblock %}
