h1 {
	text-align: center;
	font-variant: small-caps;
}

.tmp {
	color: red;
	font-size: 0.8em;
	font-style: oblique;
	display: inline;
}

.variable {
	color: #696969;
	font-size: 1em;
	font-style: bold;
	display: inline;
}

/*
**
** Various Paragraphs Styles
**
*/

#time {
	color: #979797;
	text-align: center;
	font-size: 0.9em;
}

#registered {
	text-align: center;
	margin: 6% auto;
	overflow: auto; 
}

#describe {
	text-align: center;
	margin: 6% auto;
	overflow: auto;
	font-style: oblique; 
	color: #aaa;
}

.categories1 {
	background-color: #fff;
	width: 90%;
	text-align: center;
	margin: auto;
}

.categories2 {
	width: 90%;
	text-align: center;
	background-color: #DEDEDE;
	margin: auto;
}

.buttonreg {
	position: relative;
	background-color: #52B2DE;
	border: none;
	color: #fff;
	font-variant: small-caps;
	font-size: 0.9em;
	margin: 0.2em 12px;
}
