<!DOCTYPE html>
{% load i18n %}
<html>
<meta charset="UTF-8">
	<head>
		<title>Intra42 - {% block title %}Accueil{% endblock %}</title>
		{% load staticfiles %}
		{% load i18n %}
		{% block head %}
		<link href="{% static 'intra/css/bootstrap.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'intra/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'intra/css/style.css' %}" rel="stylesheet" madia="all">
		<link href="{% static 'intra/css/base.css' %}" rel="stylesheet" madia="all">
		<link href="{% static 'intra/css/forum.css' %}" rel="stylesheet" madia="all">
  		<link href="{% static 'intra/css/modules.css' %}" rel="stylesheet" media="all">
		{% block extra_css %}
		{% endblock %}
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="{% static 'intra/js/bootstrap.min.js' %}"></script>
		{% block extra_script %}
		{% endblock %}
		{% endblock %}
	</head>
	<body>
		<div id="search">
			<p id="connect">
			{% if sess and sess.connected %}
			Welcome <a href="/users/{{sess.infos.uid}}">{{ sess.infos.cn }}</a>
			{% else %}
			Please, <a href="/login">Log in</a>
			{% endif %}
		{% block top %}
			{% if sess and sess.connected %}
			<span>
				<a href="/login/logout">
				<img class="icn" src="https://cdn1.iconfinder.com/data/icons/MetroStation-PNG/128/MB__expand.png">
				Log Out</a>
			</span>
			{% endif %}
			<form id="search">
				<input type="search" placeholder="Search">
			</form>
			</p>
		{% endblock %}
		</div>
		<div id="nav">
			<table>
				<tr><a href=/>
					<img class="icn menu" src="https://cdn1.iconfinder.com/data/icons/MetroStation-PNG/128/MB__home.png">
					 Home
				</a><br /></tr>
			{% block navigation %}
			{% if sess and sess.connected %}
				<tr><a href="/users">
					<img class="icn menu" src="https://cdn1.iconfinder.com/data/icons/MetroStation-PNG/128/MB__touch.png">
					LDAP 
				</a><br /></tr>
				<tr><a href="/modules">
					<img class="icn menu" src="https://cdn1.iconfinder.com/data/icons/MetroStation-PNG/128/MB__tasks.png">
					 Modules
				</a><br /></tr>
				<tr><a href="/learning">
					<img class="icn menu" src="https://cdn1.iconfinder.com/data/icons/MetroStation-PNG/128/MB__note.png">
					 E-Learning
				</a><br /></tr>
				<tr><a href="/forum">
					<img class="icn menu" src="https://cdn1.iconfinder.com/data/icons/MetroStation-PNG/128/MB__keyboard.png">
					 Forum
				</a><br /></tr>
				<tr><a href="/tickets">
					<img class="icn menu" src="https://cdn1.iconfinder.com/data/icons/MetroStation-PNG/128/MB__msg.png">
					 Tickets
				</a><br /></tr>
				{% endif %}
				<tr><a href=/admin>
					<img class="icn menu" src="https://cdn1.iconfinder.com/data/icons/MetroStation-PNG/128/MB__sett-big.png">
					 Administration
				</a><br /></tr>
			{% endblock %}
			</table>
		</div>
		<div id="container">
		{% block content %}
			<p> There is no Spoon </p>
		{% endblock %}
		</div>

			{% block breadcrumbs %}
			{% endblock %}

	</body>
</html>

